<!DOCTYPE html>
<html>
<head>
    <title>Анализ корреляции</title>
</head>
<body>
    <h1>Диаграмма рассеивания и результаты корреляционного анализа</h1>
    <h2>Значения Показателя 1</h2>
    <p>{{ values_1 }}</p>
    <h2>Значения Показателя 2</h2>
    <p>{{ values_2 }}</p>
    <h2>Корреляция Пирсона</h2>
    <p>{{ corr_1 }}</p>
    <h2>Корреляция Спирмена</h2>
    <p>{{ corr_2 }}</p>
    <h2>Корреляция Кендалла</h2>
    <p>{{ corr_3 }}</p>
    <h2>Диаграмма рассеивания</h2>
    <img src="{{ pngImageB64String }}" alt="Scatter plot">
</body>
</html>